.footer
    .bottom-box
      .bottom 
        .info
          .row       
            #font.col-6
              .title FONT
              .content 
                .row
                  .col-6
                    | Phcheon Makgeolli
                  .col-6
                    | Nanum Gothic
            #font.col-6
              .title ICON
              .content
                | Icon made by 
                a(href="https://www.flaticon.com/authors/smashicons" target="_blank") Freepik 
                | from 
                a(href="https://www.flaticon.com/" target="_blank") www.flaticon.com 
          br
          .row
            #developer.col-12
              .title DEVELOPER
              .content 
                .row
                  .col-3
                    | Changgeon Lee
                  .col-3
                    | Jaehwan Lee
                  .col-3
                    | Hayeong Lee
                  .col-3
                    | Yeongseo Jung

                  
      
        .sign
          p.title
            i.fa.fa-copyright(aria-hidden='true')
            |  DRAWING SOUND
            br
            |  7F
