.footer
    .bottom-box
      .bottom 
        .info
          .row       
            #font.col-4
              .title FONT
              .content 
                .row
                  .col-6
                    | Phcheon Makgeolli
                  .col-6
                    | Nanum Gothic
            #developer.col-8
              .title DEVELOPER
              .content 
                .row
                  .col-3
                    | Changgeon Lee
                  .col-3
                    | Jaehwan Lee
                  .col-3
                    | Hayeong Lee
                  .col-3
                    | Yeongseo Jung

                  
      
        .sign
          p.title
            i.fa.fa-copyright(aria-hidden='true')
            |  DRAWING SOUND
            br
            |  7F
