ul.sidebar-nav
    li.sidebar-brand
        a(href='/home')
            | 음을 그리다
        li
            a(href='/home') 그려진 악보
        li
            a(href='/users/show') PROFILE
        li
            a(href='/faq') FAQ
        li 
            a(href='/signout') SIGN OUT