extends layout

block content
    include ./includes/topnav

    #page-content-wrapper  
        .main-box
            #carousel.carousel.slide.carousel-fade(data-ride='carousel', data-interval='4000')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src="../images/img_background2.png", alt='First slide')
                    .carousel-item
                        img.d-block.w-100(src="../images/img_background1.png", alt='Second slide')                
                   
            .main-button-box
                a#mbtn1.btn.btn-block(href='#sub-box') 그려진 악보
                br
                a#mbtn2.btn.btn-block(href='/users/show') 내 정보
                br
                a#mbtn3.btn.btn-block(href='/faq') 자주 묻는 질문
                
        #sub-box.container
            #sub-text 
                |MUSIC SHEETS
            .row    
                each sheet in Sheets                    
                    .col-lg-4.col-md-6
                        #sheet.card
                            img.card-img-top(src=sheet.url alt='...')
                            .card-body
                                h4.card-title #{sheet.title}
                                p.card-text
                                    | #{sheet.composer}
                                p.card-day
                                    | 2019-04-22
                                a.btn(href='sheet/show?key='+sheet.key) VIEW

                    //a.btn.btn-default.menu-toggle(href='#menu-toggle') Toggle Menu
