extends layout

block content
    include ./includes/topnav

    #page-content-wrapper  
        .main-box
            #carousel.carousel.slide.carousel-fade(data-ride='carousel', data-interval='4000')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src="https://firebasestorage.googleapis.com/v0/b/drawingsound-1d381.appspot.com/o/img_background2.png?alt=media&token=ee60dad0-31a5-44aa-9ad0-9af3f925f024", alt='First slide')
                    .carousel-item
                        img.d-block.w-100(src="https://firebasestorage.googleapis.com/v0/b/drawingsound-1d381.appspot.com/o/img_background1.png?alt=media&token=b1118c1b-c709-409d-a6bb-7b44c8bac2e1", alt='Second slide')                
                   
            .main-button-box
                a#mbtn1.btn.btn-block(href='#sub-box') 그려진 악보
                br
                a#mbtn2.btn.btn-block(href='/users/show') 내 정보
                br
                a#mbtn3.btn.btn-block(href='/faq') 자주 묻는 질문
                
        #sub-box.container
            #home-sub-text 
                |MUSIC SHEETS
            .row    
                each sheet in Sheets                    
                    .col-lg-4.col-md-6
                        #sheet.card
                            img.card-img-top(src=sheet.url alt='...')
                            .card-body
                                h4.card-title #{sheet.title}
                                p.card-text
                                    | #{sheet.composer}
                                p.card-day
                                    | #{sheet.date}
                                a.btn(href='sheet/show?key='+sheet.key) VIEW
    
    include ./includes/footer
