extends layout

block content
  .main-box
      #carousel.carousel.slide.carousel-fade(data-ride='carousel', data-interval='4000')
          .carousel-inner
              .carousel-item.active
                  img.d-block.w-100(src="../images/index_background2.png", alt='First slide')
              .carousel-item
                  img.d-block.w-100(src="../images/index_background1.png", alt='Second slide')                
      

  form(action='/signin' method="post")
    #signinForm
      .form-group
        .input-group
          .input-group-prepend
            span#basic-addon1.input-group-text 
              i.fas.fa-user-circle
            input#inputEmail.form-control(name='email' type='text' placeholder='Username' aria-label='Username' aria-describedby='basic-addon1')

      .form-group
        .input-group
          .input-group-prepend
            span#basic-addon1.input-group-text
              i.fas.fa-key
            input#inputPassword.form-control(name='password' type='password' placeholder='Password' aria-label='Password' aria-describedby='basic-addon1')

      .form-group
          button#signin.btn(type='submit') Sign in
  