extends layout

block content
  #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='images/web_background1.png' alt='web_background1')
      .carousel-item
        img.d-block.w-100(src='images/web_background2.png' alt='web_background2')






  form(action='home')
    #signinForm
      .form-group.row
        .input-group.mb-3
          .input-group-prepend
            span#basic-addon1.input-group-text 
              i.fas.fa-user-circle
            input#inputEmail.form-control(type='text' placeholder='Username' aria-label='Username' aria-describedby='basic-addon1')

      .form-group.row
        .input-group.mb-3
          .input-group-prepend
            span#basic-addon1.input-group-text
              i.fas.fa-key
            input#inputPassword.form-control(type='password' placeholder='Password' aria-label='Password' aria-describedby='basic-addon1')

      .form-group.row
        .col-sm-10
          button#signin.btn(type='submit') Sign in
  
      .form-group.row
        .col-sm-10
          button#signup.btn(href='users/new') Sign up
