@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
body { 
  font-family: 'helvetica', 'NanumGothic', '나눔고딕','NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', Dotum; 
}


/* index.pug */
#signinForm {
  margin: 50px auto;
  width: 100%;
  max-width: 350px;
}

#signinForm .input-group {
  display: block;
}

#signinForm .input-group-text {
  font: 20px;
  color: white;
  background: linear-gradient(to bottom right, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image: linear-gradient(to bottom right, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image-slice: 1;
}

#signinForm .form-control {
  border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image: linear-gradient(to bottom right, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image-slice: 1;
  border-left: none;
}

#signinForm #signin {
  color: white;
  float: right;
  width: 100px;
  background-color: rgb(250, 149, 152);
  transition: 0.5s;
}

#signinForm #signin:hover {
  background-color: rgb(238, 134, 138);
}


/* topnav.pug */

nav.navbar.navbar-expand-md.navbar-light.bg-light {
  background-color:rgb(255, 255, 255) !important;
  padding: 0 0 0 5px;
  border-bottom: 1px solid #D4D4D4;
  height: 60px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color:rgb(214, 89, 89);
}

.navbar-light .navbar-brand {
  color:rgb(214, 89, 89);
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px;
  padding-right: 20px;
  border-right: 1px solid #EFF2F5;
}

.navbar-light .navbar-brand:hover {
  color: rgb(156, 55, 55);
  transition: 1s;
}

.navbar-light .navbar-nav .nav-link {
  color: #45494E;
  font-size: 14px;
  height: 60px;
  border-left: 1px solid rgb(253, 253, 253);
  padding: 20px 20px;
  background: rgb(255, 255, 255);
}

a.nav-link:hover {
  color: rgb(184, 78, 78) !important;
  background: rgb(255, 245, 245) !important;
  transition: 0.3s;
}

button.navbar-toggler {
  border: 0;
  border-radius: 0;
  margin: 0;
  height: 100%;
  padding: 15px 20px;
  transition: 0.3s;
}

button.navbar-toggler:hover {
  background: rgb(255, 245, 245) !important;
  transition: 0.3s;
}

#page-content-wrapper {
  margin-top:60px;
}


/* home.pug */

.main-box {
  position: relative;
}

#carousel {
  z-index: 1;
}

.main-button-box {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  z-index: 2;
}

.main-button-box .btn {
  font-weight: bold;
  font-size: 15px;
  color: rgb(214, 89, 89);
  background-color: rgba(255, 255, 255, 0.65);
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image: linear-gradient(to bottom right, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image-slice: 1;
  transition: 0.5s;
}

.main-button-box .btn:hover {
  color: white;
  background-color: rgba(255, 65, 65, 0.4);
  transition: 0.5s;
} 

#mbtn2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

#sub-box {
  position: relative;
  width: 95%;
  margin-top: 40px;
}

#home-sub-text {
  color: rgb(214, 89, 89);
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image: linear-gradient(to bottom right, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image-slice: 1;
  transition: 0.5s;
}

#home-sub-text:hover {
  color: rgb(148, 56, 56);
  transition: 0.5s;
}

#sheet.card {
  margin-bottom: 40px;
  border-bottom: 2px solid rgb(211, 203, 203);
}

#sheet .card-title{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

#sheet .card-text {
  text-align: right;
  font-size: 17px;
  font-style: italic;
  margin-bottom: 20px;
}

#sheet .card-day {
  text-align: right;
  font-size: 14px;
  margin-bottom: 25px;
}

#sheet .btn {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: rgb(180, 74, 74);
  margin-bottom: 10px;
  border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image: linear-gradient(to bottom right, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image-slice: 1;
  transition: 0.5s;
}

#sheet .btn:hover {
  color: rgb(180, 74, 74);
  background-color: rgb(255, 240, 244);
  transition: 0.5s;
} 



/* sheet/show.pug */

#printarea {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 90%;
}

#sheetBtns{
  width: 85%;
  margin: 0 auto;
  padding-bottom: 30px;
}

#print {
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: rgb(180, 74, 74);
  margin-bottom: 10px;
  border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image: linear-gradient(to bottom right, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image-slice: 1;
  transition: 0.5s;
}

#print:hover {
  background-color: rgb(255, 240, 244);
  transition: 0.5s;
}

#delete {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
  border-radius: 0px;
  border: 2px solid rgb(231, 99, 116);
  background-color: rgb(231, 99, 116);
  transition: 0.5s;
}

#delete:hover {
  border: 2px solid rgb(214, 67, 87);
  background-color: rgb(214, 67, 87);
  transition: 0.5s;
}



/* users/show.pug */

#sub-text {
  width: 90%;
  margin: 0px auto;
  margin-top: 100px;
  margin-bottom: 20px;
  color: rgb(214, 89, 89);
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.5s;
}

#sub-text:hover {
  color: rgb(148, 56, 56);
  transition: 0.5s;
}

#profile {
  margin: 0px auto;
  margin-bottom: 40px;
  padding: 60px 50px;
  width: 90%;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image: linear-gradient(to bottom right, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image-slice: 1;
}

#profile img {
  height: 150px;
  width: 150px;
}

#profile .media-body {
  margin: auto 35px;
}

#profile .title h4 {
  font-weight: bold;
}

#profile h4 {
  font-size: 20px;
}

.profile-text {
  margin-top: 20px;
  margin-bottom: 20px;
}



/* faq.pug */

#faq{
  margin: 0px auto;
  margin-bottom: 150px;
  width: 92%;
}

#faq i {
  float: right;
}

.panel {
  margin-bottom: 20px;
}

.panel-heading {
  background: linear-gradient(to bottom right, rgba(255, 213, 213, 0.75) 0%, rgba(243, 228, 255, 0.75) 100%);
  padding-top: 5px;
  border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image: linear-gradient(to bottom right, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image-slice: 1;
  transition: 0.5s;
}

.panel-title>a, .panel-title>a:active {
	display:block;
	padding:15px;
  color:#555;
  font-size:15px;
  font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
}

.panel-body {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 15px;
  border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image: linear-gradient(to bottom right, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image-slice: 1;
  border-top: none;
}

.panel-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}

.panel-text-title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
}


/* footer.pug */

.bottom-box {
  font-weight: lighter;
  margin-top: 200px;
  background: rgb(190, 98, 107);
  border-top: 7px solid rgb(236, 153, 161);
  color: rgb(255, 228, 231);
}

.bottom {
  width: 90%;
  margin: 0 auto;
  margin-top: 35px;
}

.bottom .info .title {
  font-size: 15px;
  font-style: italic;
}

.bottom .info .content {
  font-size: 14px;
}

.bottom .info a {
  color: rgb(230, 176, 176) !important;
  font-size: 14px;
}

.bottom .sign {
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-top: 1px solid rgba(255, 218, 218, 0.2);
  padding: 25px 0 10px 0;
}

.bottom .sign .title {
  font-size: 17px;
  color: white;
}


/* responsive design */

@media only screen and (max-width : 1000px) {
  .main-button-box {
    max-width: 250px;
    transition: 0.5s;
  }

  #mbtn2 {
    margin-top: -5px;
    margin-bottom: -5px;
  }
}

@media only screen and (max-width : 650px) {
  .main-button-box {
    max-width: 150px;
    transition: 1s;
  }

  #mbtn2 {
    margin-top: -10px;
    margin-bottom: -10px;
  }
}


