
/*index.pug*/
#carouselExampleSlidesOnly img {
  width: 100%;
}

#signinForm {
  margin: 50px auto;
  width: 300px;
}


#signinForm .input-group-text {
  font: 20px;
  color: white;
  background-color: rgb(187, 164, 202);
}

#signinForm #signin {
  color: white;
  background-color: rgb(221, 165, 178);
  float: right;
  width: 100px;
}

#signinForm #signup {
  color: white;
  background-color: rgb(152, 155, 201);
  float: right;
  width: 100px;
}



/*sheet style*/


#printBtn {
  width: 50px;
  height: 50px;
}


/*profile style*/
#profile {
  margin: 100px 50px;
}

#profile .media img {
  height: 200px;
  width: 200px;
}

#profile .media-body {
  margin-left: 50px;
  margin-top: 50px;
}

#profile .title {
  font-weight: bold;
}

/*faq style*/

#faq{
  padding:50px;
  background:#fff;
}

.panel-heading {
  padding: 0;
	border:0;
}
.panel-title>a, .panel-title>a:active{
	display:block;
	padding:15px;
  color:#555;
  font-size:16px;
  font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
  word-spacing:3px;
	text-decoration:none;
}
.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
} 





/* new design */

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
body { 
  font-family: 'helvetica', 'NanumGothic', '나눔고딕','NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', Dotum; 
}

/* topnav.pug */

nav.navbar.navbar-expand-md.navbar-light.bg-light {
  background-color:rgb(255, 255, 255) !important;
  padding: 0 0 0 5px;
  border-bottom: 1px solid #D4D4D4;
  height: 60px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color:rgb(214, 89, 89);
}

.navbar-light .navbar-brand {
  color:rgb(214, 89, 89);
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px;
  padding-right: 20px;
  border-right: 1px solid #EFF2F5;
}

.navbar-light .navbar-brand:hover {
  color: rgb(156, 55, 55);
  transition: 1s;
}

.navbar-light .navbar-nav .nav-link {
  color: #45494E;
  font-size: 14px;
  border-left: 1px solid rgb(253, 253, 253);
  padding: 20px 20px;
  background: rgb(255, 255, 255);
}

a.nav-link:hover {
  color: rgb(184, 78, 78) !important;
  background: rgb(255, 245, 245) !important;
  transition: 0.3s;
}

button.navbar-toggler {
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 15px 20px;
}

button.navbar-toggler:hover {
  background: rgb(255, 245, 245) !important;
}

#page-content-wrapper {
  margin-top:60px;
}


/* home.pug */

.main-box {
  position: relative;
}

#carousel {
  z-index: 1;
}

.main-button-box {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  z-index: 2;
}

.main-button-box .btn {
  font-weight: bold;
  font-size: 15px;
  color: rgb(214, 89, 89);
  background-color: rgba(255, 255, 255, 0.65);
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image: linear-gradient(to bottom right, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image-slice: 1;
}

.main-button-box .btn:hover {
  color: white;
  background-color: rgba(255, 65, 65, 0.4);
  transition: 0.5s;
} 

#mbtn2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

#sub-box {
  position: relative;
  width: 95%;
  margin-top: 40px;
}

#sub-text {
  color: #3b3131;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image: linear-gradient(to bottom right, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image-slice: 1;
}

#sub-text:hover {
  background-color: rgb(255, 240, 242);
  transition: 1s;
}

#sheet.card {
  margin-bottom: 30px;
  border-bottom: 2px solid rgb(211, 203, 203);
}

#sheet .card-title{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

#sheet .card-text {
  text-align: right;
  margin-bottom: 10px;
}

#sheet .card-day {
  text-align: right;
  margin-bottom: 20px;
}

#sheet .btn {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: rgb(180, 74, 74);
  margin-bottom: 10px;
  border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image: linear-gradient(to bottom right, rgba(255, 114, 114, 0.75) 0%, rgba(180, 138, 214, 0.75) 100%);
  border-image-slice: 1;
}

#sheet .btn:hover {
  color: white;
  background-color: rgb(255, 149, 163);
  transition: 0.5s;
} 


@media only screen and (max-width : 1000px) {
  .main-button-box {
    max-width: 250px;
    transition: 0.5s;
  }

  #mbtn2 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width : 650px) {
  .main-button-box {
    max-width: 150px;
    transition: 1s;
  }

  #mbtn2 {
    margin-top: -10px;
    margin-bottom: -10px;
  }
}