extends ../layout

block content
    include ../includes/topnav

    //- set print area
    script(type='text/javascript').
      var win=null;
      function print(printThis){
      win = window.open();
      self.focus();
      win.document.open();
      win.document.write('<'+'html'+'><'+'head'+'><'+'style'+'>');
      win.document.write('body, td {font-family:Verdana; font-size: 10pt;}');
      win.document.write('<'+'/'+'style'+'><'+'/'+'head'+'><'+'body'+'>');
      win.document.write(printThis);
      win.document.write('<'+'/'+'body'+'><'+'/'+'html'+'>');
      win.document.close();
      win.print();
      win.close();
      }

    #page-content-wrapper.sheetshow
        div#printarea
            .container-fluid
                .sheet-detail
                    .row   
                        .col-12
                            //- img(src=Sheet.url alt='sheet')
                            div#sheetdata(style="display:none") #{Sheet.str}    

                            #notation
                            script(type="text/javascript").
                                var sheet =$("#sheetdata").text();      
                                //- console.log(sheet);
                                ABCJS.renderAbc('notation', sheet,{ responsive: "resize"});

        .row#sheetBtns
            .col-8
                a#print.btn.btn-block(onclick="javascript:print(document.getElementById('printarea').innerHTML)") PRINT MUSIC SHEET                                                               
            .col-4
                a#delete.btn.btn-block(href=`/sheet/delete/${Key}?_method=DELETE`) DELETE


    include ../includes/footer