extends ../layout

block content
    nav.navbar.navbar-default.NOnavbar-fixed-top
        .container-fluid
            .navbar-header             
                a.NOnavbar-brand(href='#')
                    img#logo(src='../images/logo_text.png' alt='Talk Fusion')
            

    #wrapper
        #sidebar-wrapper
            ul.sidebar-nav
                li.sidebar-brand
                    a(href='/home')
                        | 음을 그리다
                li
                    a(href='/home') 그려진 악보
                li
                    a(href='/users/show') PROFILE
                li
                    a(href='/faq') FAQ
      
        #page-content-wrapper
            a(onclick="javascript:print(document.getElementById('printarea').innerHTML)")
                img#printBtn(src='../images/printer.png')
            div#printarea
                .container-fluid
                    .sheet-detail
                        .row
                            .col-12
                                h2.title 제목
                        .row   
                            .col-8
                            .col-4
                                h4 작곡가
                        .row
                            .col-8
                            .col-4  
                                h4 날짜
                        .row   
                            .col-12
                                img(src='../images/sheet.png' alt='sheet')
